* {
    main-bg:            #39373FE6;
    main-fg:            #D4D1E2;
    main-br:            #8E9096;
    main-ex:            #343435;
    select-bg:          #4C4C53;
    select-fg:          #C6C8C0;
}
